@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 28 27 34;

  --primary-fg: 255 255 255;

  --secondary: 160 160 160;

  --tertiary: 30 250 170;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: 28 27 34;

    --primary-fg: 255 255 255;

    --secondary: 160 160 160;

    /* --tertiary: 30 250 170; */
    --tertiary: 230 190 10;
  }
}

body {
  background-color: rgb(var(--primary));
  color: rgb(var(--primary-fg));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}